/* Insert layout width below.
If this is not done, when using a responsive font, the result will not match the layout.
Please note that specifying a value less than 425 is dangerous for the psyche. */

:root {
  --text-c: #0d0d0e;
  --font-family: Jost;
  --bg: #fff;
  --header-bg: #ebe5dc;
  --icon-c: #0d0d0e;
  --dec-line-c: #d7d7d7;
  --dec-subline-c: #0d0d0e;
  --slider-btn-c: #000;
  --header-links-color: #929292;
  --header-active-links-color: #000;
  --cat-prod-bg: #fff;
}

.dark {
  --text-c: #fff;
  --bg: #1d1d1f;
  --header-bg: #48433d;
  --icon-c: #fff;
  --dec-line-c: #2d2925;
  --dec-subline-c: #48433d;
  --slider-btn-c: #48433d;
  --header-links-color: #d1d1d1;
  --header-active-links-color: #fff;
  --cat-prod-bg: #48433d;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::active {
  outline: none;
}

a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

.footer {
  background: #303030;
}

.footer__body {
  text-align: center;
}

.footer__top {
  padding: 20px 30px 20px 30px;
}

.footer__socials >*:not(:last-child) {
  margin-right: 10px;
}

.footer__social-item {
  padding: 5px 5px 5px 5px;
  display: inline-block;
  border: 1px solid rgba(255,255,255,0);
}

.footer__social-item:hover,
.footer__social-item:focus {
  border-color: #fff;
}

.footer__bottom {
  background: #0d0d0e;
  padding: 20px 18px 20px 18px;
}

.footer__copyright {
  color: #fff;
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.woff2") format("woff2-variations");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'KronaOne';
  font-display: swap;
  src: url("../fonts/KronaOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bl';
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-m';
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: auto;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.275);
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-window.active {
  overflow: auto;
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen-navmenu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 4 !important;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
}

.fullscreen-navmenu.active {
  right: 0;
}

.fullscreen-navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: auto;
  background: rgba(0,0,0,0.678);
  min-height: 100%;
}

.fullscreen-navmenu__body ul {
  margin: 0 auto;
  width: 100%;
}

.fullscreen-navmenu__body ul li:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.fullscreen-navmenu__body ul .fs-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0 25px 0;
  color: #fff;
}

.burger-btn {
  z-index: 5;
  display: block;
  cursor: pointer;
}

.burger-btn:hover rect,
.burger-btn:focus rect {
  fill: #aa9627;
}

.burger-btn__svg * {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: var(--text-c);
}

.burger-btn__rect-top {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger-btn__rect-bottom {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger-btn.active .burger-btn__rect-top {
  -webkit-transform: rotate(45deg) translate(-5%, 50%);
      -ms-transform: rotate(45deg) translate(-5%, 50%);
          transform: rotate(45deg) translate(-5%, 50%);
}

.burger-btn.active .burger-btn__rect-center {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.burger-btn.active .burger-btn__rect-bottom {
  -webkit-transform: rotate(-45deg) translate(-5%, -50%);
      -ms-transform: rotate(-45deg) translate(-5%, -50%);
          transform: rotate(-45deg) translate(-5%, -50%);
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background: #fff;
  border-radius: 5px;
}

.searchbar__input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  min-width: 300px;
}

.searchbar__submit {
  padding: 0 10px 0 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.searchbar__submit img {
  width: 20px;
  height: 20px;
}

.header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  background: var(--header-bg);
  width: 100%;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__body * {
  z-index: 5;
}

.header__top {
  width: 100%;
  background: #0d0d0e;
}

.header__top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: -5px;
}

.header__top ul >*:not(:last-child) {
  margin-right: 25px;
}

.header__top-ref {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #838383;
  padding: 10px 5px 10px 5px;
}

.header__top-ref:after {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  content: '';
}

.header__top-ref:hover,
.header__top-ref:focus {
  color: #fff;
}

.header__top-ref:hover:after,
.header__top-ref:focus:after {
  overflow: auto;
  opacity: 1;
  pointer-events: all;
}

.header__bottom {
  width: 100%;
  padding: 23px 0 23px 0;
}

.header__bottom-container {
  display: grid;
  grid-template: 'nav logo actions' 1fr/1.4fr 0.2fr 1.4fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__navmenu {
  grid-area: nav;
}

.header__left-menu {
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.header__left-menu >*:not(:last-child) {
  margin-right: 15px;
}

.header__burger {
  justify-self: start;
}

.header__logo {
  grid-area: logo;
  justify-self: center;
}

.header__actions {
  grid-area: actions;
  justify-self: end;
}

.actions >*:not(:last-child) {
  margin-right: 10px;
}

.actions__item {
  position: relative;
  padding: 8px 8px 8px 8px;
}

.actions__item path {
  fill: var(--icon-c);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.actions__item:hover path,
.actions__item:focus path {
  fill: #aa9627;
}

.actions__counter {
  display: none;
  position: absolute;
  bottom: 10%;
  right: -10%;
  background: #f4a499;
  color: #000;
  border: 2px solid #ebe5dc;
  padding: 1px;
  min-width: 20px;
  font-weight: 600;
  font-size: 10px;
  border-radius: 50%;
  z-index: 1;
}

.actions__counter.active {
  display: block;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.navmenu__list li {
  margin-right: 10px;
  margin-left: -8px;
}

.navmenu__list li a,
.navmenu__list li button {
  position: relative;
  display: inline-block;
  font-size: 14px;
  padding: 4px 8px 4px 8px;
  color: var(--header-links-color);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.navmenu__list li a:after,
.navmenu__list li button:after {
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: inline-block;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #e37a7a;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: '';
}

.navmenu__list li a.active,
.navmenu__list li button.active,
.navmenu__list li a:hover,
.navmenu__list li button:hover,
.navmenu__list li a:focus,
.navmenu__list li button:focus {
  color: var(--header-active-links-color);
}

.navmenu__list li a.active:after,
.navmenu__list li button.active:after,
.navmenu__list li a:hover:after,
.navmenu__list li button:hover:after,
.navmenu__list li a:focus:after,
.navmenu__list li button:focus:after {
  overflow: auto;
  opacity: 1;
  pointer-events: all;
}

.logo {
  z-index: 10;
}

.logo path {
  fill: var(--icon-c);
}

.submenu-open-button {
  position: relative;
}

.submenu {
  z-index: 1;
  position: absolute;
  top: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  border-radius: 10px;
  border: 2px solid #ebe5dc;
  background: var(--bg);
  color: var(--text-c);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.submenu.show {
  position: absolute;
  overflow: auto;
  opacity: 1;
  pointer-events: all;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenu_to-left {
  right: 0;
}

.submenu_to-right {
  left: 0;
}

body {
  position: relative;
  height: 100%;
  color: var(--text-c);
  font: calc((100vw - 20rem)/(90 - 20) * (1 - 0.75) + 0.75rem) var(--font-family);
}

body.scroll-block {
  overflow: hidden;
}

body button {
  font-family: var(--font-family);
  color: var(--text-c);
}

.main {
  width: 100%;
}

.main__body {
  background: var(--bg);
}

.fullscreen {
  position: relative;
}

.fullscreen__body {
  text-align: center;
  color: #fff;
}

.fullscreen__slider {
  height: 100vh;
  min-height: 700px;
}

.fullscreen__pag span {
  background: #fff;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: 2px solid rgba(255,255,255,0);
}

.fullscreen__pag span.active {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  background: #808080;
  border-color: #fff;
}

.fullscreen-slide {
  padding-top: 20%;
  background: url("../img/") no-repeat center/cover;
}

.fullscreen-slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.fullscreen-slide__body >*:not(:last-child) {
  margin-bottom: 20px;
}

.fullscreen-slide__title {
  text-shadow: 0 0 20px #000;
  font-family: KronaOne;
  font-size: calc((100vw - 20rem)/(90 - 20) * (5 - 1.875) + 1.875rem);
}

.fullscreen-slide__decor {
  padding-bottom: 80px;
}

.fullscreen-slide__decor img {
  -webkit-animation: decor-spin linear 10s infinite;
          animation: decor-spin linear 10s infinite;
}

@-webkit-keyframes decor-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes decor-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.fullscreen-slide__text {
  text-shadow: 0 0 20px #000;
}

.fullscreen-slide__text-ref {
  color: inherit;
  text-decoration: underline;
  padding: 5px 5px 5px 5px;
}

.fullscreen-slide__text-ref:hover,
.fullscreen-slide__text-ref:focus {
  text-decoration: none;
}

.slider {
  overflow: hidden;
}

.slider__body >*:not(:last-child) {
  margin-bottom: 10px;
}

.slider__control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider__prev rect,
.slider__next rect {
  fill: var(--slider-btn-c);
}

.slider__prev:hover rect,
.slider__next:hover rect,
.slider__prev:focus rect,
.slider__next:focus rect {
  fill: #4b4b48;
}

.slider__prev.unactive,
.slider__next.unactive {
  opacity: 0.3;
}

.slider__prev {
  padding-right: 5px;
}

.slider__slider-wrapper {
  margin-right: -10%;
  padding-right: 10px;
}

.slider .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide img {
  opacity: 0.25;
}

.slider_mini-cards .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide img {
  opacity: 1;
}

.slider_mini-cards .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide img {
  opacity: 0.25;
}

.collection-card {
  color: var(--text-c);
  max-width: 264px;
}

.collection-card:hover .collection-card__title,
.collection-card:focus .collection-card__title {
  text-decoration: underline;
}

.collection-card_mini .collection-card__image {
  padding-bottom: 140%;
}

.collection-card_mini .collection-card__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.collection-card__body >*:not(:last-child) {
  margin-bottom: 10px;
}

.collection-card__image {
  padding-bottom: 140%;
}

.collection-card__image img {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 16px;
}

.collection-card__title {
  display: inline-block;
  font-size: 18px;
  font-family: KronaOne;
}

.collection-card__about {
  color: #929292;
}

.decor-line {
  position: relative;
  width: 100%;
  height: 1.5px;
  background: var(--dec-line-c);
}

.decor-line__subline {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5px;
  width: 40%;
  background: var(--dec-subline-c);
}

.title {
  color: var(--text-c);
  font-size: 36px;
  font-family: KronaOne;
}

.block {
  padding: 20px 0 20px 0;
}

.favs {
  cursor: pointer;
}

.favs svg,
.favs path {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.favs.active svg,
.favs:hover svg,
.favs:focus svg,
.favs.active path,
.favs:hover path,
.favs:focus path {
  fill: #e37a7a;
  stroke: #e37a7a;
}

.dollars:before {
  content: '$';
}

.product {
  background: var(--bg);
}

.product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.product__body >*:not(:last-child) {
  margin-right: 30px;
}

.product__body:hover .product__title,
.product__body:focus .product__title {
  text-decoration: underline;
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--text-c);
  text-align: right;
}

.product__title {
  font-weight: 600;
}

.categ-product__body {
  font-size: calc((100vw - 20rem)/(90 - 20) * (1 - 0.875) + 0.875rem);
  background: var(--cat-prod-bg);
  border-radius: 16px;
}

.categ-product__main {
  padding: 10px;
}

.categ-product__main >*:not(:last-child) {
  margin-bottom: 5px;
}

.categ-product__image img {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.categ-product__brand {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--text-c);
}

.categ-product__title {
  display: block;
  color: var(--text-c);
}

.categ-product__footer {
  padding-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.categ-product__price {
  color: #0d0d0e;
  font-weight: 600;
  font-size: 12px;
  padding: 5px 6px 5px 12px;
  background: url("../img/price-bg.svg") no-repeat center/contain;
}

@media (min-width: 426px) {
  .favs svg {
    width: 30px;
    height: 28px;
  }
}

@media (min-width: 730px) {
  .fullscreen-navmenu {
    display: none;
  }

  .burger-btn {
    display: none;
  }

  .header__left-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .header__bottom {
    padding: 13px 0 13px 0;
  }

  .fullscreen__slider {
    min-height: 500px;
  }
}

@media (max-width: 730px) {
  .actions__search {
    display: none;
  }

  .navmenu {
    display: none;
  }
}

@media (max-width: 426px) {
  .container {
    width: 95%;
  }

  .searchbar__input {
    min-width: 100px;
  }

  .categ-product__favorites svg {
    width: 30px;
    height: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container {
    width: 90%;
  }
}